<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <title>
        CODEX CODER TextUtility
    </title>
</head>
<body>
<h1>
    Wellcome textUtility Created By CODEX CODER
</h1>
<p>
    Note:- Please Enter Your String or Char in Bellow the Box! and Perform Different Operation on it. ThankYou!
</p>

<form action="/check" method = "get">
    <textarea name = 'text' style='width: 1274px; height: 177px;'>
    </textarea><br>

    <input type="checkbox" Name="RemovePunch"> Remove Punchutation<br>

<!--    another check box or function-->

    <input type="checkbox" Name="upperCase"> Upper Case<br>>
    <input type="checkbox" Name="lowerCase"> Lower Case<br>>
    <input type="checkbox" Name="countChar"> Count Char<br>>


    <button type="submit">Analysis Text</button>
</form>

<!--one way to also create a new action for seperated command-->
<!--<form action="/upperCase" method = "get">-->
<!--    <textarea name = 'text' style='width: 1274px; height: 177px;'>-->
<!--    </textarea><br>-->

<!--    <input type="checkbox" Name="upperCase"> Upper Case<br>-->

<!--    <button type="submit">Upper Case</button>-->
<!--</form>-->

</body>
</html>